:root {
  --color-darkest: #0f172a;
  --color-dark: #1e293b;
  --color-medium: #94a3b8;
  --color-light: #cbd5e1;

  --color-theme: #1098ad;
  --color-theme-light: #22d3ee;
  --color-accent: #ffa94d;
  --color-progress: #22c55e;
  --color-school-theme: #581c87;

  --color-correct: #16a34a
  --color-incorrect: #ef4444

  --arrow-bg: rgba(255, 255, 255, 0.3);
  --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
  --option-bg: white;
  --select-bg: rgba(255, 255, 255, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;

  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

body {
  font-family: 'inter', sans-serif;
  min-height: 100vh;
  color: var(--color-light);
  background: linear-gradient(35deg, var(--color-darkest), var(--color-dark),  var(--color-darkest));
}
.main {
  display: flex;
  flex-direction: column;
  margin-top: 4.8rem;
}
h1 {
  font-family: 'Rubik Scribble', sans-serif;
  font-size: 6.2rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.5;
}
h4{
  font-size: 2.4rem;
  font-weight: 500;
}
label {
  font-size: 2.2rem;
  font-weight: 500;
  text-transform: uppercase;
}
hr{
  margin-bottom: 1.4rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 7.5rem;
}
.setup-quiz,
.section-container {
  width: 60%;
  margin: 1rem auto;
}
.main-containerApp{
  display: flex;
  flex-direction: column;
  gap: 5.8rem;
}
.form-quiz {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
}
.divide-quiz {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}


/* !Button */

.btn {
  width: 100%;
  height: 50px;
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  border: none;
  outline: none;
  color: #fff;
  background: var(--color-dark);
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin-top: 2.8rem;
  cursor: pointer;
}
.glow-on-hover {
  cursor: pointer;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--color-dark);
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
/* !Progress bar */
.range {
  position: relative;
  background-color: #333;
  width: 300px;
  height: 30px;
  transform: skew(30deg);
  font-family: 'Orbitron', monospace;
  
  &:before {
    --width: calc(var(--p) * 1%);
    
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #F3E600;
    z-index: 0;
    animation: load .5s forwards linear, glitch 2s infinite linear;
  }
  
  &:after {
    counter-reset: progress var(--p);
    content: counter(progress) '%';
    color: #000;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%) skewX(-30deg);
    z-index: 1;
  }
  
  &__label {
    transform: skew(-30deg) translateY(-100%);
    line-height: 1.5;
  }
}

@keyframes load {
  to {
    width: var(--width);
  }
}

@keyframes glitch {
  0%, 5% {
    transform: translate(0, 0);
  }
  1% {
    transform: translate(-5%, -10%);
  }
  2% {
    transform: translate(10%, 30%);
  }
  3%{
    transform: translate(-43%, 10%);
  }
  4% {
    transform: translate(2%, -23%);
  }
}

/* !Input, Select */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* #num-questions {
  background: var(--color-darkest);
  cursor: auto;
} */
/* <select> styles */
select,
input {
  /* Reset */
  position: relative;
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  font-size: 2rem;
  /* Personalize */
  width: 40%;
  padding: 1rem 4rem 1rem 2rem;
  background: linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
  color: white;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  /* Remove IE arrow */
  input::-ms-expand {
    display: none;
  }
  /* Remove focus outline */
  input:focus {
    outline: none;
  }
  /* <option> colors */
  select {
    color: inherit;
    background-color: var(--option-bg);
  }
}

.arrow-label::after{
  content: "";
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  top: 25;
  right: 0;
  color: white;
  display: inline-block;
  background: var(--arrow-icon);
  margin-right: 1rem;
  opacity: 80%;
}



/* !Progress */

progress {
  -webkit-appearance: none;
  width: 100%;
  height: 16px;
  grid-column: 1 / -1;
}

::-webkit-progress-bar {
  background-color: var(--color-light);
  border-radius: 100px;
}
::-webkit-progress-value {
  background-color: var(--color-progress);
  border-radius: 100px;
}
.section-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.question-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2.4rem;
}
/* !Reset Button */
@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');
.container-reset {
  margin: 2.4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  width: 180px;
  height: 60px;
  position: absolute;
}

.btn-reset {
  width: 100%;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91C9FF;
  outline: none;
  transition: 1s ease-in-out;
}

.btn-reset svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn-reset:hover {
  transition: 1s ease-in-out;
  background: #4F95DA;
}

.btn-reset:hover svg {
  stroke-dashoffset: -480;
}

.btn-reset span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}

/* !Loader */
.loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;  
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #EFEFFA;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #EFEFFA;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #EFEFFA;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
/* !Next Button */
@import url('https://fonts.googleapis.com/css?family=Poppins:900i');
.wrapper {
  display: flex;
  justify-content: center;
}

.cta {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 3.2rem;
  color: white;
  background: #6225e6;
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-15deg);
}

.cta:focus {
  outline: none;
}

.cta:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #fbc638;
}

.cta span:nth-child(2) {
  transition: 0.5s;
  margin-right: 0px;
}

.cta:hover span:nth-child(2) {
  transition: 0.5s;
  margin-right: 45px;
}

.cta span {
  transform: skewX(15deg);
}

.wrapper span:nth-child(2) {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

/**************SVG****************/

path.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

path.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.cta:hover path.three {
  animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
  0% {
    fill: white;
  }
  50% {
    fill: #fbc638;
  }
  100% {
    fill: white;
  }
}
/* !Other CSS */
.question-info {
  display: flex;
  font-size: 1.8rem;
  justify-content: space-between;
}
.detail-info {
  display: flex;
  align-items: center;
  gap: .5rem;
}
.question {
  font-size: 2.4rem;
}
.option {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}
.btn-correct {
  background-color: #16a34a;
  cursor: not-allowed;
}
.info-category{
  font-size: 1.6rem;
  letter-spacing: -0.1rem;
}
.info-difficulty{
  text-transform: capitalize;
  font-style: normal;
}
.btn-incorrect {
  background-color: #be123c;
  cursor: not-allowed;

}
.detail-info svg{
  color: var(--color-theme);
  width: 2.4rem;
  height: 2.4rem;
  margin: 0;
}

.card{
  background-color: var(--color-dark);
  padding: 2.4rem;
  border-radius: 1.8rem;
  margin-bottom: 2rem;
}
.selected{
  display: flex;
  gap: 2.4rem;
  font-size: 1.8rem;
  background-color: var(--color-school-theme);
  padding: 1.8rem;
  border-radius: 9px;
  margin-bottom: 1.8rem;
}

.card-title{
  margin-bottom: 1.8rem;
  font-size: 2.8rem;
  color: var(--color-theme-light);
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
}
.question-card{
  margin-bottom: 1.8rem;
  }
.selected-wrong{
  color: #fda4af;
  font-weight: 700;
}
.selected-correct{
  color: #4ade80;
  font-weight: 700;
}
.no-correct{
  text-align: center;
  background-color: var(--color-darkest);
  padding: 1.2rem;
  border-radius: 13px;
}
.card-info{
  display: flex;
  gap: 1.8rem;
}
.card-info span{
  background-color: var(--color-darkest);
  margin-bottom: 1.4rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 4px;
}

/* blockquote card colors */


blockquote.q-card-color-2{
  --accent-color: rgb(243 243 243);
  --bg-color: rgb(33 29 30);
  --dot-color: rgb(255 255 255 / .125);
  --text-color: rgb(243 243 243);
  --text-color-author: rgb(33 29 30);
}
/* blockquote card setup*/
blockquote.q-card{
  --padding: 1rem;
  padding: var(--padding);
  color: var(--text-color, black);
  font-weight: 600;
  background-color: var(--bg-color, white);
  display: grid;
  gap: 1rem;
  background-image: radial-gradient( circle, var(--dot-color, rgb(0 0 0 / .125)) calc(25% - 1px), transparent 25% );
  background-size: 0.5rem 0.5rem;
  border-radius: 0.25rem;
  box-shadow: 0.5rem 0.5rem 2rem rgb(0 0 0 / .5);
  margin-bottom: 4.8rem;
}
blockquote.q-card::before{
  --qHeight: 4rem;
  content: "";
  margin-left: calc(var(--padding) * -1);
  margin-top: calc(var(--padding) * -1);
  height: var(--qHeight);
  width: calc(var(--qHeight) * 1.1);
  background-image:
    radial-gradient(
      circle at bottom right,
      transparent calc(var(--qHeight) / 4 - 1px),
      var(--accent-color, black) calc(var(--qHeight) / 4) calc(var(--qHeight) / 2), 
      transparent calc(var(--qHeight) / 2 + 1px)
    ),
    linear-gradient(var(--accent-color, black), var(--accent-color, black));
  background-size: calc(var(--qHeight) / 2) calc(var(--qHeight) / 2);
  background-position: top left, bottom left;
  background-repeat: space no-repeat
}

blockquote.q-card > .author{
  color: var(--text-color-author, white);
  background-color: var(--accent-color, black);
  justify-self: end;
  font-size: 1.25em;  
  padding: 0.5em 1em;
  border-radius: 0.25rem;
}
blockquote.q-card > .author::before{
  content: "- "
}
.content{
  font-size: 2.4rem;
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.final-message{
  font-family: 'Pacifico', sans-serif;
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 1.4rem;
  color: var(--color-theme-light);
  font-weight: 600;
}
.percentage-message{
  font-size: 2rem;
}

/* !Error */
.error-section{
  display: flex;
  gap: 2.4rem;
  align-items: center;
  background-color: #9f1239;
  padding: 3.2rem;
  margin-top: 4.8rem;
  border-radius: 13px;
}
.error-section svg{
  width: 6rem;
  height: 6rem;
}
.error-messages h2{
  margin-bottom: 1.8rem;
}
.history-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3.2rem;
  width: 100%;
  height: auto;
  
}

.quiz-history{
  background-color: var(--color-dark);
  padding: 1.8rem;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.4rem;
}
.review{
  width: 100%;
  height: 2.8rem;
  background-color: var(--color-school-theme);
  border: none;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1.4rem;
}
.Success{
  color: var(--color-progress);
}

.time{
  font-size: 1.2rem;
}
.history-name{
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  text-transform: capitalize;
}
.btn-review{
  display: flex;
  gap: 1.2rem;
}
.history-header{
  display: flex;
  justify-content: space-between;
}
.btn-remove-all{
  background-color: var(--color-darkest);
  color: #fff;
  padding: 0 2rem;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
}
.footer{
  width: 100%;
  height: 9rem;
  background-color: var(--color-darkest);
  margin-top: 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-text{
  text-align: center;
  font-size: 1.8rem;
}